<div class="row">
  <h1>Users</h1>
  <ul class="follow">
    <% @users.each do |user| %>
      <li id="users-<%= user.id %>" class="clearfix">
        <%= link_to gravatar_for(user, size: 50), user %>
        <span class="user"><%= link_to user.name, user %></span>
      </li>
    <% end %>
  </div>
</div>