<div class="row">
  <%= render 'aside' %>
  <div class="col-md-8">
    <%= render 'follow_form' if logged_in? %>
    <% if @user.microposts.any? %>
      <h3>Microposts (<%= @user.microposts.count %>)</h3>
      <ul class="microposts">
        <%= render @microposts %>
      </ul>
    <% end %>
  </div>
</div>